:root, html[data-theme='light']{
	--red: rgba(255,59,48,1);
	--accent: rgba(175,82,222,1);
	--gray6: rgba(242,242,247,0.7);
	--gray: rgba(142,142,147,0.3);
	--black: rgba(28,28,30);
}

html[data-theme='dark']{
	--accent: rgba(191,90,242,1);
	--red: rgba(255,69,58);
	--gray: rgba(142,142,147,0.3);
	--gray6: rgba(28,28,30);	
	--black: rgba(242,242,247,0.7);
}
*{
	scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
/*==============================*/
body{
	font-family: 'Inter', sans-serif;
	animation: background 50s infinite;
	background: linear-gradient(221deg, #e88455, #d55959, #8bd559, #dfec78, #78ecd8, #787aec, #d778ec, #907a60, #d2d2d2);
  background-size: 1800% 1800%;
	height: 100vh;
}
@keyframes background {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.header{
	justify-content: flex-end;
	position: absolute;
	display: flex;
	width:100vw;
}
.header input[type=button]{
	background:none;
	border: none;
	transition:0.3s;
	margin:1rem;
	color: white;
	mix-blend-mode: overlay;
}
.header input[type=button]{
	cursor: pointer;
	transform: scale(1.1, 1.1);
	filter: brightness(90%);
}
.search-container{
	z-index:15;
	height:100%;
	display: flex;
	justify-content: center;
  align-items: center;
  mix-blend-mode: overlay;
}
.search-container input{
	transition:0.3s;
	font-size:1.5rem;
	height:3rem;
	backdrop-filter: blur(110px);
	border: none;
	border-radius:7px;
}
.search-container input[type=text]{
	outline:none;
	padding:0 0.5rem 0 0.5rem;
	transition:0.3s;
	width:30rem;
}
.search-container input[type=text]:hover{
	width: 32rem;
}
.search-container input[type=text]:focus{
	transition:0.5s;
	width:35rem;
}
.search-container input[type=submit]:hover{
	cursor: pointer;
	transition:0.3s;
	filter:brightness(70%);
}
.search-container input[type=submit]{
	width:3rem;
	font-size:1rem;
}
.close-button{
	transition:0.3s;
	height:25px;
	width:25px;
	border-radius:100%;
	margin:10px;
	cursor: pointer;
	background:var(--red);
}
.close-button:hover{
	transform: scale(1.05, 1.05);
}
.sidebar ul li a{
	padding:1rem;
	font-weight: 500;
	font-size:1.2rem;
	display:flex;
	text-decoration: none;
	color: var(--black);
	align-items: center;
  justify-content: flex-start;
}
.pref{
	color: var(--accent);
}
.sidebar{
	position: fixed;
	width:15rem;
	height:100%;
	background: var(--gray6);
}
.settings-container{
	width:70rem;
	z-index:11;
	height:45rem;
	display: none;
	overflow:hidden;
	border-radius:15px;
	backdrop-filter: blur(80px);
	background:var(--gray6);
}
.modal-settings{
	position: absolute;
	display: flex;
	width:100%;
	height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
/* =========================================== */
@media (max-width:600px) {
	.search-container{
		margin-top:15rem;
		align-items: flex-start;
	}
	.search-container input[type=text]{
		width:20rem;
	}
	.search-container input[type=text]:hover{
		width:20rem;
	}
	.search-container input[type=text]:focus{
		filter:brightness(70%);
		transition:0.3s;
	}
}
@media (max-width:400px) {
	.search-container input[type=text]{
		width:15rem;
	}
	.search-container input[type=text]:hover{
		width:15rem;
	}
	.search-container input[type=text]:focus{
		filter:brightness(70%);
		transition:0.3s;
	}
}
@media (max-width:350px) {
	.search-container input[type=text]{
		width:10rem;
	}
	.search-container input[type=text]:hover{
		width:10rem;
	}
	.search-container input[type=text]:focus{
		filter:brightness(70%);
		transition:0.3s;
	}
}